playwright>=1.40.0
playwright-stealth>=1.0.6
beautifulsoup4>=4.12.0
lxml>=5.1.0
pandas>=2.1.0
matplotlib>=3.8.0
seaborn>=0.13.0
requests>=2.31.0
tldextract>=5.1.0
publicsuffix2>=2.20191221
diffprivlib>=0.6.0
jupyter>=1.0.0
tqdm>=4.66.0
